.padre-titulo_padre-imgs h1{
    font-size: 2.3rem;
    padding-left: 25px;
    padding-right: 25px;
}
.padre-titulo_padre-imgs p{
    font-size: 2rem;
    padding-left: 25px;
    padding-right: 25px;
}
.padre-imgs{
    margin-top: 50px;
}