.btn-buscar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    padding: 5px;
}
.titulo-formularios{
    font-size: 1.8rem;
}
.padre-titulo_padre-imgs h1{
    font-size: 2rem;
}
.padre-titulo_padre-imgs p{
    font-size: 1.6rem;
}
.imgFrompag{
    width: 60%;
}